telethon
dnspython
pymongo
pytz
sqlalchemy==1.3.23
psycopg2-binary
requests
gitpython
heroku3
coffeehouse
gtts
cloudmersive_virus_api_client
apscheduler
youtube-search-python
redis
google_trans_new
search_engine_parser
youtube_search
pySmartDL==1.3.4
pybase64==1.0.2
pillow==8.0.1
nudepy==0.5.1
emoji==0.6.0
better_profanity==0.7.0
tldextract
geopy
pygments
html2text
aiohttp
